*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  line-height:1.6;
  background-color: #ffffff;
}

/* =======================
   COMMON
======================= */
.container{
  width:90%;
  margin:auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:  #222f3d;
}

main {
    flex-grow: 1; 
    padding: 20px;
}

.btn{
  background-color: #1f3c88;
  color:white;
  padding:14px 30px;
  border-radius:6px;
  text-decoration:none;
  display:inline-block;
}

.btn:hover{
  opacity: 0.9
}

/* =======================
   NAVBAR
======================= */

.nav-border {
  height: 20px;
  width: 100%;
  background-color: #1f3c88;
}

.header {
  background-color: white;
}

.nav{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  padding: 10px;
}

.logo{
  height: 100px;
  width: 120px;
}

.menu{
  list-style:none;
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.menu a{
  color:black;
  text-decoration:none;
  font-size: 1.25rem;
  font-weight:700;
}

.menu a.active,
.menu a:hover{
  text-decoration:underline;
}

/* =======================
   HERO SLIDER (5 IMAGES)
======================= */
.hero{
  position:relative;
  height:80vh;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

.hero-slider img{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  animation:slider 20s infinite;
}

.hero-slider img:nth-child(1){animation-delay:0s}
.hero-slider img:nth-child(2){animation-delay:4s}
.hero-slider img:nth-child(3){animation-delay:8s}
.hero-slider img:nth-child(4){animation-delay:12s}
.hero-slider img:nth-child(5){animation-delay:16s}

@keyframes slider{
  0%{opacity:0}
  10%{opacity:1}
  30%{opacity:1}
  40%{opacity:0}
  100%{opacity:0}
}

.hero-text{
  position:relative;
  background:rgba(255,255,255,.50);
  padding:30px;
  border-radius: 10px;
  text-align:center;
  max-width:600px;
}

.hero-text h1{
  font-size:3rem;
  margin-bottom:10px;
}

.hero-text p{
  margin-bottom:20px;
}

/* =======================
   PAGE BANNER
======================= */
.page-banner{
  background-color: #1f3c88;
  color:white;
  text-align:center;
  padding:60px 20px;
}

.emergency-banner {
  height: 300px;
  width: 100%;
  background-color: #3e7a4d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.emergency-banner p {
  font-size: 1.3rem;
  text-align: center;
  padding: 0px 150px;
}

.department-banner {
  height: 300px;
  width: 100%;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  gap:25px;
}

.icon {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

/* =======================
   DEPARTMENTS & DOCTORS
======================= */
.departments,
.doctors{
  max-width:1200px;
  margin:auto;
  padding:40px 20px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.dept-card,
.doctor-card{
  background:white;
  border-radius:6px;
  overflow:hidden;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
}

.dept-card img,
.doctor-card img{
  width:100%;
  height:240px;
  object-fit:cover;
}

.dept-card h3,
.doctor-card h3{
  padding:12px;
  text-align:center;
  color: #1f3c88;
}

.dept-card:hover h3,
.doctor-card:hover h3{
    background:#1f3c88;
    color:white;
}

/* =======================
   APPOINTMENT
======================= */
.appointment-wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:100px;
  width:90%;
  height: auto;
  margin:auto;
  padding:80px 30px;
  line-height: 1.9rem;
}

.appointment-img img {
  width: 85%;
  height: 650px;
  border-radius: 8px;
}

.info-list {
    list-style: none;
}

.appointment-img {
    margin-top: 25px;
}

.appointment-form{
  background-color: #f4f2f2;
  padding:50px;
  line-height: 2.5rem;
  border-radius: 10px;
}

.form-group label{
  display:block;
  margin-bottom: 6px;
  margin-top: 9px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
}

.btn-full {
  width: 100%;
  background-color: #1f3c88;
  color:white;
  padding: 14px;
  border-radius:6px;
} 

.info h3 {
    margin-top: 20px;
}

.info  {
    margin-top: 20px;
    color: white;
}

/* =======================
   FOOTER
======================= */

.foot-panel1 {
  background-color: #222f3d;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px; 
}
.about-our {
  background-color: #222f3d;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 130px; 
  overflow:hidden;
}


.about-text {
  max-width: 320px;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: normal;
  color: #dddddd;
}

ul {
  margin-top: 30px;
}

ul p {
  font-size: 1.5rem;
  font-weight: bold;
}

ul a {
  color: #dddddd;
  display: block;
  font-size: 1rem;
  margin-top: 10px;
}

ul a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.foot-btn {
  width: 100px;
  background-color: #1f3c88;
  color:white;
  font-size: 0.85rem;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  border-radius:6px;
} 

.footer{
  background-color: #1f3c88;
  color:white;
  text-align:center;
  padding:15px;
}

/* =======================
   RESPONSIVE
======================= */

@media(max-width:768px){

  .hero-text h1,
  .emergency-banner h1 {
    font-size: 1.85rem;
  }

  .foot-panel1 p {
    font-size:0.85rem;
  }

  .foot-panel1 a {
    font-size:0.75rem;
  }

  .department-banner {
    height: auto;
    padding: 30px 0px;
  }

  .emergency-banner {
    height: auto;
    padding: 30px 0px;
  }

  .emergency-banner p {
    font-size: 0.9rem;
    padding: 0px 20px;
  }

  .appointment-wrapper{
    grid-template-columns:1fr;
    gap: 70px;
  }

  .appointment-img img {
    height: 350px;
    width: 100%;
  }

  .appointment-form {
    padding: 20px;
  }
  
  .menu{
    justify-content:center;
  }

  .foot-panel1 {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 30px 20px;
    text-align: center;
  }

  .foot-panel1 > div {
    width: 100%;
  }

  .foot-panel1 ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .foot-panel1 ul {
    text-align: start;
  }

}